* {
    box-sizing: border-box;
    border: none;
}

.row {
    display: flex;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table{
    border-spacing: 0;
}

.row thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.row th,
.row td {
    padding: 5px 5px;
}

.row tbody tr {
    border-bottom: 1px solid #dddddd;
}

.row tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.row tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.row tr:hover {
    background-color: #009879;
}
.row tbody tr:nth-of-type(even):hover {
    background-color: #009879;
}

.column {
    flex: 50%;
    padding: 5px;
}
